<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Bunksapp</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body id="bunkBody">
    <div class="header">
        <%if(roomName=="a8Room"){%>
            <div class="circle"></div>
            <p>A8 Group Chat</p>
        <%}else{%>
            <div class="circle"></div>
            <p>Universal Group Chat</p>
        <%}%>
        <div class="optMech">
            <i id="dropIcon" class="fa-solid fa-ellipsis-vertical"></i>
            <%if(logCheck._id!="667298d69d8ec76a6c9356b1"){%>
                <div class="options">
                    <p id="opt1">Prev Chat Request</p>
                </div>
            <%}%>
        </div>
        
    </div>
    <ul id="messages">        
        <%if(logCheck.authStat){%>
            <%let currDate=null%>
            <%for(chat of chats){%>
                <%if(currDate!=new Date(chat.created_at).toString().split(" ").slice(0,3).join(" ")){%>
                    <%currDate=new Date(chat.created_at).toString().split(" ").slice(0,3).join(" ")%>
                    <li class="dateBox"><%= currDate %></li>
                <%}%>
                <%if(chat.from==logCheck.name){%>
                    <li class="msgList">
                        <div class="message-box sender">
                            <p class="message-text"><%=chat.message%>&nbsp; &nbsp; &nbsp; &nbsp;</p>
                            <span class="message-time"><%=new Date(chat.created_at).toString().split(" ")[4].slice(0,5) %></span>
                            <span class="timeStore"><%=chat.created_at%></span>
                        </div>
                    </li>
                <%}else{%>
                    <li class="msgList">
                        <div class="message-box receiver">
                            <%if(chat.anonymous && logCheck._id!="667298d69d8ec76a6c9356b1"){%>
                                <p id="senderName">~anonymous</p>
                            <%}else{%>
                                <p id="senderName">~<%=chat.from%></p>
                            <%}%>
                            <p class="message-text"><%=chat.message%>&nbsp; &nbsp; &nbsp; &nbsp;</p>
                            <span class="message-time"><%=new Date(chat.created_at).toString().split(" ")[4].slice(0,5) %></span>
                            <span class="timeStore"><%=chat.created_at%></span>

                        </div>
                    </li>
                <%}%>
            <%}%>
        <%}%>
        
    </ul>
    <div id="overlay"></div>
    <div id="popup">
        <h2 id="reason"><%=vote[0].votePorp%></h2>
        <form id="onVoteForm" method="post" >
            <div id="options">
                    <input type="radio" name="vote" value="<%=vote[0].options[0]%>" id="option0">
                    <label for="option0"><%=vote[0].options[0]%> (<p style="margin:0; display: inline;"><%=vote[0].votedYes.length%></p>)</label><br>
                    <input type="radio" name="vote" value="<%=vote[0].options[1]%>" id="option1">
                    <label for="option1"><%=vote[0].options[1]%> (<p style="margin:0;display: inline;"><%=vote[0].votedNo.length%></p>)</label><br>
            </div>
            <button type="submit">Submit Vote</button>
            <%if(logCheck._id=="667298d69d8ec76a6c9356b1"){%>
                <button type="button" id="resetVote">Reset</button>
            <%}%>
        </form>
    </div>
    
    <div id="voteModal" class="modal">
        <div class="modal-content">
        <span class="close">&times;</span>
        <form id="voteForm" method="post">
            <label for="votePurpose">Vote Purpose:</label>
            <input type="text" id="votePurpose" name="votePurpose" required><br><br>
            <p>Options:</p><br>
            <div id="optionsContainer">
            <input type="text" name="option" required placeholder="Enter Option"><br><br>
            <input type="text" name="option" required placeholder="Enter Option"><br><br>
            </div>
            <button type="button" id="addOpt">Add Option</button><br><br>
            <button type="button" id="cancelVote">Cancel</button>
            <button type="submit">Send Vote</button>
        </form>
        </div>
    </div>
            
    <div class="custom-context-menu" id="contextMenu">
        <ul>
          <li id="editMsg">Edit</li>
          <li id="delMsg">Delete</li>
        </ul>
    </div>

    <form method="post" class="editMsg" action="#">
        <input type="text" name="editMsg">
        <input type="text" style="display: none;" name="timeStore">
        <input type="text" style="display: none;" name="msgStore">
        <button>Edit</button>
    </form>

    <form id="form" method="post" action="#">
        <%if(roomName=="a8Room"){%>
            <div class="vote"><i class="fa-solid fa-square-poll-vertical"></i></div>
        <%}%>
        <input id="input" autocomplete="off" name="sentMsg"/>
        <button type="submit" id="nonAnony" >Send</button>
        <button type="submit" id="anony" >Send</button>
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script>

        document.addEventListener("DOMContentLoaded", () => {

            function createRecMessageElement(chat,sender,date) {
                // Create the <li> element
                const li = document.createElement('li');
                li.className = 'msgList';

                // Create the <div> element with class "message-box receiver"
                const div = document.createElement('div');
                div.className = 'message-box receiver';

                // Create the <p> element for the sender name
                const senderNameP = document.createElement('p');
                senderNameP.id = 'senderName';
                senderNameP.textContent = `~${sender}`;

                // Create the <p> element for the message text
                const messageTextP = document.createElement('p');
                messageTextP.className = 'message-text';
                messageTextP.innerHTML = `${chat}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;`;

                // Create the <span> element for the message time
                const messageTimeSpan = document.createElement('span');
                messageTimeSpan.className = 'message-time';
                const messageTime = new Date(date).toString().split(" ")[4].slice(0, 5);
                messageTimeSpan.textContent = messageTime;

                const msgTimeStore=document.createElement('span');
                msgTimeStore.className='timeStore';
                msgTimeStore.innerText=date;

                // Append the sender name, message text, and message time to the <div>
                div.appendChild(senderNameP);
                div.appendChild(messageTextP);
                div.appendChild(messageTimeSpan);
                div.appendChild(msgTimeStore);

                // Append the <div> to the <li>
                li.appendChild(div);

                // Return the complete <li> element
                return li;
            }

            function createSentMessageElement(chat,date) {
                // Create the <li> element
                const li = document.createElement('li');
                li.className = 'msgList';

                // Create the <div> element with class "message-box sender"
                const div = document.createElement('div');
                div.className = 'message-box sender';

                // Create the <p> element for the message text
                const messageTextP = document.createElement('p');
                messageTextP.className = 'message-text';
                messageTextP.innerHTML = `${chat}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;`;

                // Create the <span> element for the message time
                const messageTimeSpan = document.createElement('span');
                messageTimeSpan.className = 'message-time';
                const messageTime = new Date(date).toString().split(" ")[4].slice(0, 5);
                messageTimeSpan.textContent = messageTime;

                const msgTimeStore=document.createElement('span');
                msgTimeStore.className='timeStore';
                msgTimeStore.innerText=date;

                // Append the message text and message time to the <div>
                div.appendChild(messageTextP);
                div.appendChild(messageTimeSpan);
                div.appendChild(msgTimeStore);

                // Append the <div> to the <li>
                li.appendChild(div);

                // Return the complete <li> element
                return li;
            }

            function createChatReqElement(msg,sender) {
                // Create the <li> element
                const li = document.createElement('li');
                li.className = 'reqMsg';

                // Create the <div> element with class "message-box receiver"
                const div = document.createElement('div');
                div.className = 'req-box';

                // Create the <p> element for the sender name
                const senderNameP = document.createElement('p');
                senderNameP.id = 'reqSender';
                senderNameP.textContent = `~${sender}`;

                // Create the <p> element for the message text
                const messageTextP = document.createElement('p');
                messageTextP.className = 'req-text';
                messageTextP.innerHTML = `${msg}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;`;

                // Create the <span> element for the message time
                const messageTimeSpan = document.createElement('span');
                messageTimeSpan.className = 'req-time';
                const messageTime = new Date().toString().split(" ")[4].slice(0, 5);
                messageTimeSpan.textContent = messageTime;

                let allowBtn=document.createElement("button");
                allowBtn.classList.add("allow");
                allowBtn.innerText="Allow";

                // Append the sender name, message text, and message time to the <div>
                div.appendChild(senderNameP);
                div.appendChild(messageTextP);
                div.append(allowBtn);
                div.appendChild(messageTimeSpan);

                // Append the <div> to the <li>
                li.appendChild(div);

                // Return the complete <li> element
                return li;
            }

            try{

                const socket = io();

                let form = document.querySelector("#form");
                let msg = document.querySelector("#input");
                let dropDown=document.querySelector(".optMech");

                if("<%=logCheck._id%>"!="667298d69d8ec76a6c9356b1"){
                    let dropBox=document.querySelector(".options");
                    let chatReq=document.querySelector("#opt1");

                    dropDown.addEventListener("click",()=>{
                        if(dropBox.style.display=="none"){
                            dropBox.style.display="flex";
                        }else{
                            dropBox.style.display="none";
                        }
                        
                    })

                    chatReq.addEventListener("click",()=>{
                        socket.emit("chatreq","<%=logCheck._id%>","<%=logCheck.name%>");
                        console.log("step1 done")
                    })
                }

                
                socket.on("chatReqRec",(id,name)=>{
                    if("<%=logCheck._id%>"=="667298d69d8ec76a6c9356b1"){
                        let chatSec=document.querySelector("#messages");
                        let list=createChatReqElement(`chat req received from id ${id}`,name);
                        chatSec.append(list);
                        let allowBtn=document.querySelectorAll(".allow");
                        for(let i=0;i<allowBtn.length;i++){
                            allowBtn[i].addEventListener("click",()=>{
                                socket.emit("allowed",id);
                                allowBtn[i].innerText="Allowed";
                            })
                        }
                        list.scrollIntoView({ behavior: 'smooth' });
                    }
                }) 

                form[1].addEventListener("click", async(e) => {
                    e.preventDefault();
                    if (msg.value != "") {
                        let date=new Date().toISOString();
                        let chatSec=document.querySelector("#messages");
                        let list=createSentMessageElement(msg.value,date);
                        chatSec.append(list);  
                        socket.emit("msgSend", msg.value,"<%=logCheck.name%>","<%=logCheck.id%>",date);
                        setTimeout(()=>{
                            list.scrollIntoView({ behavior: 'smooth' });
                        },100)
                    }

                    setTimeout(() => {
                        msg.value = "";
                    }, 100);
                });

                form[2].addEventListener("click", async(e) => {
                    e.preventDefault();
                    if (msg.value != "") {

                        let date=new Date();
                        let chatSec=document.querySelector("#messages");
                        let list=createSentMessageElement(msg.value,date);
                        chatSec.append(list);  
                        socket.emit("msgAnonySend", msg.value,"anonymous","<%=logCheck.id%>",date);
                        setTimeout(()=>{
                            list.scrollIntoView({ behavior: 'smooth' });
                        },100)

                    }

                    setTimeout(() => {
                        msg.value = "";
                    }, 100);
                });
                

                if("<%=roomName%>"=="a8Room"){
                    socket.emit("joinReq","a8Room");
                }else{
                    socket.emit("joinReq","uniRoom");
                }

                let operationEle;
                let sentMsgs=document.querySelectorAll(".sender");

                let posX;
                let posY;

                const contextMenu = document.getElementById('contextMenu');
                sentMsgs.forEach(sentMsg=>{
                    sentMsg.parentElement.parentElement.addEventListener('contextmenu', function(event) {
                        event.preventDefault(); // Prevent the default context menu from appearing

                        // Get the position of the mouse click
                        posX = event.pageX;
                        posY = event.pageY;

                        // Position the custom context menu at the click position
                        contextMenu.style.top = `${posY}px`;
                        contextMenu.style.left = `${posX}px`;
                        if(event.target.parentElement.className=="message-box sender" || event.target.parentElement.className=="msgList"){
                            contextMenu.style.display = 'block';
                        }

                        if(event.target.parentElement.className=="message-box sender"){
                            operationEle=event.target.parentElement;
                        }else{
                            operationEle=event.target;
                        }
                        
                    });
                });

                let deleteBtn=document.querySelector("#delMsg");
                deleteBtn.addEventListener("click",(e)=>{
                    let timeStore=operationEle.lastElementChild.innerText;
                    let currTime=new Date();
                    let duration=(currTime.getTime()- new Date(timeStore).getTime())/60000;
                    if(duration<15){
                        let chatSec=document.querySelector("#messages");
                        operationEle.parentElement.remove();
                        socket.emit("delMsg",operationEle.children[0].innerText,timeStore);
                    }
                });

                let editForm=document.querySelector(".editMsg");

                // Hide the context menu when clicking anywhere else
                document.addEventListener('click', function(event) {
                    if (contextMenu.style.display === 'block') {
                    contextMenu.style.display = 'none';
                    }
                });

                let editBtn=document.querySelector("#editMsg");
                editBtn.addEventListener("click",(e)=>{
                    let timeStore=operationEle.lastElementChild.innerText;
                    let currTime=new Date();
                    let duration=(currTime.getTime()- new Date(timeStore).getTime())/60000;
                    if(duration<60){
                        editForm.style.display="block";
                        msg=operationEle.children[0].innerText.trim();
                        editForm[0].value=msg;
                        editForm[1].value=timeStore;
                        editForm[2].value=msg;
                    }
                });

                editForm.addEventListener("submit",(e)=>{
                    e.preventDefault();
                    const formData=new FormData(editForm);
                    let msg=formData.get("editMsg");
                    let time=formData.get("timeStore");
                    let oldMsg=formData.get("msgStore");
                    socket.emit("editMsgReq",msg,time,oldMsg);
                    editForm.style.display="none";
                    for(sentMsg of sentMsgs){
                        if(sentMsg.lastElementChild.innerText==time && sentMsg.children[0].innerText.trim()==oldMsg){
                            sentMsg.children[0].innerHTML=`${msg}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;`;
                        }
                    }
                })


                document.querySelector(".vote").addEventListener("click",()=>{
                    try{
                        let stat="<%=vote[0].votingStat%>";
                        if(stat){
                            document.getElementById('overlay').style.display = 'block';
                            document.getElementById('popup').style.display = 'block';
                        }else{
                            const modal = document.getElementById('voteModal');
                            modal.style.display = "block";
                        }
                    }catch(err){
                        console.log(err);
                        const modal = document.getElementById('voteModal');
                        modal.style.display = "block";
                    }
                });

                // Function to close the modal
                document.querySelector('.close').addEventListener("click",()=> {
                    const modal = document.getElementById('voteModal');
                    modal.style.display = "none";
                })

                    // Function to add additional option field
                document.querySelector("#addOpt").addEventListener("click",()=>{
                    const optionsContainer = document.getElementById('optionsContainer');
                    const input = document.createElement('input');
                    input.type = 'text';
                    input.name = 'option';
                    input.required = true;
                    input.placeholder = 'Enter option';
                    optionsContainer.appendChild(input);
                    optionsContainer.appendChild(document.createElement('br'));
                    optionsContainer.appendChild(document.createElement('br'));
                });

                // Function to handle form submission (you can modify this as per your backend requirements)
                document.getElementById('voteForm').addEventListener('submit', (e) => {
                    e.preventDefault();
                    const formData = new FormData(e.target);
                    let data={
                        purpose: formData.get('votePurpose'),
                        options: formData.getAll('option')
                    };
                    // Example of sending form data via Socket.io
                    const modal = document.getElementById('voteModal');
                    modal.style.display = "none"; // Close the modal after sending vote

                
                    document.getElementById('reason').innerText = data.purpose;
                    let optionsDiv = document.getElementById('options');
                    optionsDiv.innerHTML = '';
                    let options=data.options;
                    options.forEach((option, index) => {
                        let radioHtml = `<input type="radio" name="vote" value="${option}" id="option${index}">
                                        <label for="option${index}">${option}</label><br>`;
                        optionsDiv.innerHTML += radioHtml;
                    });
                    document.getElementById('overlay').style.display = 'block';
                    document.getElementById('popup').style.display = 'block';
                    socket.emit("votePost",data);
                });

                // Function to cancel vote
                document.querySelector("#cancelVote").addEventListener("click",()=>{
                    const modal = document.getElementById('voteModal');
                    modal.style.display = "none";
                });

                document.getElementById("onVoteForm").addEventListener("submit", (e)=>{
                    e.preventDefault();
                    let selectedOption = document.querySelector('input[name="vote"]:checked');
                    if (selectedOption) {
                        alert('You voted for: ' + selectedOption.value.slice(0,2));
                        socket.emit("voteUpdate",selectedOption.value,"<%=logCheck._id%>")
                        closePopup();
                    } else {
                        alert('Please select an option before submitting.');
                    }
                });

                function closePopup() {
                    document.getElementById('overlay').style.display = 'none';
                    document.getElementById('popup').style.display = 'none';
                }

                document.getElementById('overlay').addEventListener('click', closePopup);

                if("<%=logCheck._id%>"=="667298d69d8ec76a6c9356b1"){
                    document.getElementById('resetVote').addEventListener("click",()=>{
                        socket.emit("resetVote");
                        closePopup();
                    });
                }
                
                let chatSec=document.querySelector("#messages");
                setTimeout(()=>{
                    chatSec.lastElementChild.scrollIntoView({ behavior: 'smooth' });
                },100);

                socket.on("votedYesLiveUpdate",()=>{
                    let options=document.querySelector("#options");
                    let count=Number(options.children[1].children[0].innerText);
                    options.children[1].children[0].innerText=count+1;
                })
                socket.on("votedNoLiveUpdate",()=>{
                    let options=document.querySelector("#options");
                    let count=Number(options.children[4].children[0].innerText);
                    options.children[4].children[0].innerText=count+1;
                })

                socket.on("editRecMsgReq",(msg,time,oldMsg)=>{
                    let recMsgs=document.querySelectorAll(".receiver");
                    for(recMsg of recMsgs){
                        if(recMsg.children[1].innerText.trim()==oldMsg && recMsg.children[3].innerText==time){
                            recMsg.children[1].innerText=msg+"        ";
                        }

                    }
                    
                })

                socket.on("delRecMsg",(msg,timeStore)=>{
                    let recMsgs=document.querySelectorAll(".receiver");
                    for(recMsg of recMsgs){
                        if(recMsg.children[1].innerText.trim()==msg.trim() && new Date(recMsg.children[3].innerText).getTime()==new Date(timeStore).getTime()){
                            recMsg.parentElement.remove();
                        }
                    }
                })

                socket.on("msgRec", (msg,sender,date) => {
                    let chatSec=document.querySelector("#messages");
                    let list=createRecMessageElement(msg,sender,date);
                    chatSec.append(list);
                    list.scrollIntoView({ behavior: 'smooth' });
                })

                socket.on("connect", () => {
                    console.log("Connected to server");
                    socket.id=localStorage.getItem("socketId");
                    console.log(socket.id);
                    let botText="Hello! I'm the Bot here. I'm here to guide you through the features of this Application.<br>&#8226; None other than Students of A8 can join this Room. So feel relaxed!<br>&#8226; You can send msgs anonymously by using that grey send button. But you are visible to Admin. It is just to avoid getting caught in SS or photos.<br>&#8226; You can also Delete, Edit your messages within 15 mins of sending.<br>&#8226; Every time you Relogin to your Account, You need admin permission to see previous Messages for safety purpose. For prev msgs req click on three dots on top-right corner. Once You gets the permission rejoin the room.<br>&#8226; You can also Vote for Bunking or not. And again your voted option is visible to admin"
                    let list=createRecMessageElement(botText,"bot:)",new Date());
                    let chatSec=document.querySelector("#messages");
                    chatSec.append(list);
                });

                socket.on("disconnect", () => {
                    console.log("Disconnected from server");
                });
            }catch(err){
                console.log(err);
            }

            

        });

    </script>
  </body>
</html>